<h1>Edition de ma page</h1>
<% form_for @user, :url => {:action => "update"}, :html => { :class => "form" } do |f| %>
<div class="flash">
  <%= f.error_messages %>
</div>
<div class="group">
  <%= f.label :openid_identifier, "OpenID" %>
  <%= f.text_field :openid_identifier, :class => "text_field", :disabled => true %>
  </div>

  <div class="group">
 <%= f.label :username, "Identifiant" %>
 <%= f.text_field :username, :class => "text_field" %>
 <span class="description">sera l'url de ta page<span>
 </div>

 <div class="group">
   <%= f.label :firstname, "Prénom" %>
   <%= f.text_field :firstname, :class => "text_field" %>
 </div>

 <div class="group">
   <%= f.label :lastname, "Nom" %>
   <%= f.text_field :lastname, :class => "text_field" %>
 </div>
 
 <div class="group">
   <%= f.label :bio, "Bio" %>
   <%= f.text_area :bio, :class => "text_field", :rows => 10 %>
   <span class="description">Quelques lignes sur toi</span>
 </div>

 <div class="group">
   <%= f.label :twitter_identifier, "Compte Twitter" %>
   <%= f.text_field :twitter_identifier, :class => "text_field" %>
   <span class="description">L'identifiant que tu utilises sur Twitter</span>
 </div>

<div class="group">
<%= f.label :blog_feed_url, "Feed RSS Octo Talks:" %>
<%= f.text_field :blog_feed_url, :class => "text_field" %>
<span class="description">Ton feed RSS sur OctoTalks. De la forme http://blog.octo.com/author/fhi/feed</span>
</div>
 <div class="group">
   <%= f.label :linkedin_profile_url, "Profil Linked In" %>
   <%= f.text_field :linkedin_profile_url, :class => "text_field" %>
   <span class="description">Ton profil public Linked In. De la forme http://www.linkedin.com/in/olivierjacob</span>
 </div>
 
 <div class="group navform">
   <%= f.submit "Valider", :class => "button" %>
   ou
   <%= link_to "Annuler", public_page_path %>
   ou
   <%= link_to "Détruire le compte", destroy_page_path, :method => "delete" %>
 </div>
 
 <div class="group description">
   PS: L'affichage de la photo est pour le moment automatiquement récupérée sur gravatar.com avec l'adresse <%= @user.username + "@octo.com"%>
 </div>

<% end %>
