<h1><%=h @user.fullname %></h1>
<% unless @user.bio.blank? %>
<h3>ma bio</h3>
<blockquote>
  <%= h @user.bio %>
</blockquote>
<% end %>
<h3><%= link_to "mes derniers Tweets", twitter_identifier_url(@user.twitter_identifier), :target => "_blank" %></h3>
<div class="content" id="twitts">
  <% for twitt in @twitts %>
  <p><%= twitt.text %></p>
  <% end %>
  </div>
<h3>mes posts Octo Talks</h3>
<div class="content">
   <% for post in @blog_posts %>
 	<p>
	  <b><%= link_to post[:title], post[:link]%></b>
	  <div><%= post[:content]%>...</div>
	</p>
	<% end %>
</div>
<h3><%= link_to "Mon profil Linked In", @user.linkedin_profile_url, :class => "linkedin-profileinsider-popup" %></h3>
<% content_for :sidebar do %>
  <%= gravatar(@user) %>
<% end %>