<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>OctoFacebook !</title>
    <link rel="SHORTCUT ICON" href="/favicon.ico" />
    <!--CSS  -->
    <%= stylesheet_link_tag "base", :media => "all" %> 
		<%= stylesheet_link_tag "style", :media => "all" %> 
    
  </head>
  <body>
		<div id="container">
	    <!-- HEADER START-->
			<div id="header">
	      <h1><a href="/">OctoFaceBook</a></h1>
	      <div id="user-navigation">
	        <ul>
						<% if !current_user %>
		          <li><%= link_to "Crée ta page OctoFaceBook", new_user_path %></li>
		          <li><%= link_to "Connexion", login_path %></li>
						<% else %>
						  <li><%= link_to "Bienvenue #{current_user.firstname}", public_page_path(current_user.username) %></li>
						  <li><%= link_to "Logout", logout_path, :method => :delete %></li>
						<% end %>
	        </ul>
	        <div class="clear"></div>
	      </div>
			</div>    
		
			<!-- CONTENT START-->
			<div id="wrapper">
				<%= yield :layout %>
				<div class="clear"></div>
			</div>

  	</div>
  </body>
</html>
